@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.wrapper {
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: black;
}
.slider_wrapper {
  margin-top: 30px;
}
.slider_two {
  margin-top: 10px;
}
.calculation {
  padding: 15px;
  font-size: 12px;
  opacity: 0.6;
}
.choose_payment,
.choose_time {
  font-size: 16px;
}
.value {
  border: 0.5px solid lightgrey;
  padding: 8px;
  margin-left: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
}
.button_wrapper {
  background-color: lightgreen !important;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 1px, rgba(0, 0, 0, 0.23) 0px 2px 2px;
  transition: all300ms ease;
}

.button_wrapper:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}
.monthly_payment_wrapper {
  display: flex;
  justify-content: space-between;
}
