@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  width: 30%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: black;
}

.slider {
  margin-top: 50px;
}

.slide {
  margin-top: 20px;
}

.button_wrapper {
  display: flex;
  justify-content: flex-end;
}
.button {
  background-color: white !important;
  margin-top: 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}
.button:hover {
  box-shadow: 0.2px 0.2px 1px black;
}

.calc {
  padding: 15px;
  font-size: 12px;
  opacity: 0.6;
}
.choose {
  font-size: 16px;
}
.value {
  border: 0.5px solid lightgrey;
  padding: 8px;
  margin-left: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.button {
  background-color: lightgreen !important;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
a {
  text-decoration: none;
  color: black;
}
